<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>
  <connectionStrings>
    <add name="TestDb" 
         connectionString="Data Source=DESKTOP-UERRF7N\SQLEXPRESS;Initial Catalog=AccelistEntityGenerator;Integrated Security=True;Connect Timeout=15;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"></add>
  </connectionStrings>
</configuration>
